<ul class="slidemenu-nav">
  <a id="slidemenu-close" href="#" class="btn btn-md pull-right toggle"><i class="fa fa-chevron-circle-left fa-2x"></i></a>
  <li>
    <a href="{{@blog.url}}">
      <i class="fa fa-home fa-2x"></i> HOME
    </a>
  </li>
  <li><a href="{{@blog.url}}/about">
    <i class="fa fa-male fa-2x"></i> ABOUT</a>
  </li>
  <li><a href="{{@blog.url}}/subscribe">
    <i class="fa fa-exclamation fa-2x"></i> SUBSCRIBE</a>
  </li>

  <!--<li>
    <a href="{{@blog.url}}/rss/">
      <i class="fa fa-rss  fa-2x"></i> SUBSCRIBE
    </a>
  </li>-->
  <li class="slidemenu-divider"></li>
  <li>
    CATEGORIES
  </li>
  <!--<li>
    <a href="{{@blog.url}}/tag/it">
      <i class="fa fa-code fa-2x"></i> IT
    </a>
  </li>
  <li>
    <a href="{{@blog.url}}/tag/design">
      <i class="fa fa-heart fa-2x"></i> DESIGN
    </a>
  </li>    
  <li>
    <a href="{{@blog.url}}/tag/books">
      <i class="fa fa-book fa-2x"></i> BOOKS
    </a>
  </li>
  <li>
    <a href="{{@blog.url}}/tag/thoughts">
      <i class="fa fa-coffee fa-2x"></i> THOUGHTS
    </a>
  </li>
-->


  <li class="slidemenu-divider"></li>
  <li>
    FOLLOW
  </li>
  <li>
    <a href="https://twitter.com/JAFong_" target="_blank">
      <i class="fa fa-twitter fa-2x"></i> TWITTER
    </a>
  </li>
  <li>
    <a href="https://github.com/JAFong" target="_blank">
      <i class="fa fa-github fa-2x"></i> GITHUB
    </a>
  </li>
  <li>
    <a href="https://instagram.com/jafong_" target="_blank">
      <i class="fa fa-instagram fa-2x"></i> INSTAGRAM
    </a>
  </li>
    <li>
    <a href="https://facebook.com/justin.fong.988" target="_blank">
      <i class="fa fa-facebook fa-2x"></i> FACEBOOK
    </a>
  </li>
  <li>
    <a href="https://linkedin.com/pub/justin-fong/58/a22/ba" target="_blank">
      <i class="fa fa-linkedin fa-2x"></i> LINKEDIN
    </a>
  </li>



{{#if tags}}
<ul>
{{#foreach tags}}
<li>{{name}}</li>
{{/foreach}}
</ul>
{{/if}}
</ul>
